*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font: inherit;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: #333;
}

.container{
  height: 100vh;
}

.btn{
  padding: 12px 10px;
  width: 30%;
  border-radius: 8px;
  background-color: #37003C;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  margin: 0 auto;
}

.btn:hover {
   opacity: 0.9;
  background-color: #ffffff;
  color: #37003c;
 }
