:root{
  --primary-color: #37003c;
  --light-color: #fff;
  --dark-color: #333;
  /*--font-color: #37003C;*/
  /*--heading-color: #37003C;*/
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Architects Daughter", cursive;
  line-height: 1.5;
  background: #f4f4f4;
  width: 100vh;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--dark-color);
}

.container{
  height: 100vh;
  margin: auto;
}

.mealsContainerStyle{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  margin-top: 100px;
  /*border: 1px solid #37003c;*/
  padding: 0 25px;
  background: var(--primary-color);
  width: 100%;
}


/* [1] The container */
.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease-in-out;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}


/*change layout on smaller screens*/
@media only screen and (max-width:1000px){
  .mealsContainerStyle{
    grid-template-columns: auto auto;
  }

}

@media only screen and (min-width:1350px){
  .container{
    padding: 0 12rem;
    /*max-width: 1300px;*/
  }

}

@media only screen and (min-width:1200px){
  .container{
    padding: 0 8rem;
  }

}

@media only screen and (max-width:600px){
  .mealsContainerStyle{
    grid-template-columns: auto;
  }
}

/*utilities*/
.btn{
  padding: 16px 10px;
  width: 30%;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--light-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 22px;
  outline: none;
  margin: 20px auto;
}

.btn:hover {
   opacity: 0.87;
 }

.btn:active{
  transform: translateY(4px);
}